@model IEnumerable<Mcr.Application.ViewModels.LeasingViewModel>

<div class="container body-content">
    <div class="row leasing-content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Work Order Id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Currency</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leasing in Model)
                {
                    <tr>
                        <td>@leasing.WorkOrderId</td>
                        <td>@leasing.Amount</td>
                        <td>@leasing.Currency</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>